.row {
	display: -webkit-box; /* wkhtmltopdf uses this one */
    display: -webkit-flex;
    display: flex;
}

.justify-content-start{
-webkit-box-pack: start; /* wkhtmltopdf uses this one */
    -webkit-justify-content: start;
            justify-content: start;
}
